.pk-input {
    width: calc(100% - 16px);
    float: left;
    cursor: pointer;
    padding: 8px;
}

.pk-input.-clean {
    background: #fff;
    border: 1px solid #eee;
    font: inherit;
}

.pk-input.-dark {
    background: #666;
    color: #eee;
    border: 1px solid #999;
    font: inherit;
}

.pk-arrow {
    position: absolute;
    cursor: pointer;
    right: -2px;
    bottom: 0;
    text-align: center;
    width: 30px;
    padding-bottom: 2px;
}

.pk-arrow,
.pk-arrow.-clean {
    /*background: #eee;*/
    color: #aaa;
}

.pk-arrow.-dark {
    background: #666;
    color: #eee;
}

.pk-input.-clean:hover+.pk-arrow,
.pk-arrow.-clean:hover {
    background: #dfdfdf;
    color: #aaa;
}

.pk-input.-dark:hover+.pk-arrow,
.pk-arrow.-dark:hover {
    background: #000;
    color: #ccc;
}

.pk-arrow:before {
    transform: rotate(90deg);
    font-size: 25px;
    position: relative;
    content: '›';
    margin: 5px 0 0 13px;
    float: left;
}

.pk-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #666;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1110;
    transition: opacity .3s;
}

.pk-overlay.-show {
    opacity: 1;
    visibility: visible;
}

.pk-modal {
    transform: translateX(-50%) scale(0.8, 0.8);
    left: 50%;
    top: 30px;
    border-radius: 3px;
    position: absolute;
    width: 280px;
    max-height: 90%;
    overflow-y: auto;
    z-index: 1111;
    transition: all .3s;
    visibility: hidden;
    background: #f2f2f2;
    opacity: 0;
}

.pk-modal>.head {
    width: calc(100% - 20px);
    font-size: 18px;
    padding: 20px 10px;
}

.pk-modal,
.pk-modal.-clean {
    background: #fff;
    border-bottom: 10px solid #efefef;
}

.pk-modal>.head,
.pk-modal.-clean>.head {
    color: #777;
    background: #efefef;
}

.pk-modal.-dark {
    color: #f2f2f2;
    background: #444;
    border-bottom: 10px solid #333;
}

.pk-modal.-dark>.head {
    color: #f2f2f2;
    background: #333;
}

.pk-modal.-show {
    transform: translateX(-50%) scale(1, 1);
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 1px 20px 2px #888;
}

.pk-modal>ul {
    padding: 0
}


.pk-search {
    display: none;
}

.pk-search.-show {
    display: block;
}

.pk-search>input {
    width: calc(100% - 22px);
    padding: 8px 4px;
    margin: 6px;
    border: 1px solid #ddd;
}

.pk-no_result_search {
    padding: 10px;
    font-size: 14px;
}

.pk-modal>.close {
    position: absolute;
    top: 18px;
    right: 15px;
    color: #ccc;
    font-size: 22px;
    cursor: pointer;
}

.pk-option {
    cursor: pointer;
    padding: 14px 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #efefef;
}

.pk-option,
.pk-option.-clean {
    border-bottom: 1px solid #efefef;
    padding-left: 14px;
}

.pk-option.-dark {
    border-bottom: 1px solid #333;
    color: #f2f2f2;
}

.pk-option:hover,
.pk-option.-clean:hover,
.pk-option.-clean.-selected,
.pk-option.-selected {
    background: #524D4D;
    color: #ffffff;
}

.pk-option.-dark:hover,
.pk-option.-dark.-selected {
    background: #333;
}

.pk-option:last-child {
    border: none;
}

.pk-option>.icon:not(:empty) {
    width: 16px;
    margin-right: 10px;
    color: #ccc;
    font-size: 20px;
    float: left;
    margin-top: -3px;
    text-align: center;
}

.pk-option>.txt {
    color: inherit;
}

.pk-modal>.main {
    list-style: none;
}




/* 何问起 hovertree.com */